*.o
.DS_Store
.*.swp
/env
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds.conf
/files
/overlay
/package/openwrt-packages
key-build*
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.ccache
